
.fondo{ 
  display: grid; 
  place-items: center;
  padding: px 24px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.425), rgba(54, 54, 54, 0.2));
  background-color: #798792;
  color: #fff;
}
.fondo .interior{
    place-items: center;
    max-width: var(--max-width);
  margin: 0 auto;
  padding: 56px 50px;
  
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border: 2px solid #555555;
    border-radius: var(--radius);
    overflow: hidden;
    color: var(--texto);
}
th, td {
    padding: 6px;
    text-align: left;
    border-left: #555555 1px solid;
    border-bottom: 1px solid #555555;
}
tr:nth-child(odd) td {
  background-color: #cbcad3; 
}
tr:nth-child(even) td {
  background-color: #eef1f1; 
}
th {
    background-color: #f9fafa;
    padding: 10px;
}