/* Estos estilos solo se aplican a las paginas de información, por eso es diferente del styles principal, ajusta algunas cosas del styles principal tmb*/
.fondo { /*Ajustes del fondo*/
  display: grid;
  place-items: center;
  padding: px 24px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.425), rgba(54, 54, 54, 0.2));
  background-color: #798792;
  color: #fff;
}

.fondo .interior {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 56px 80px;

}
.interior .IMGpequeña { /*Imagenes pequeñas, usado en imagenes decorativas*/
  max-width: 35%;
  height: auto;
  margin-top: 20px;
  border-radius: var(--radius);
  float: right;
  margin-right: 20px;
  border: 2px solid #afa8a8;
}
.interior .IMGmportante { /*Imagenes importantes/con informacion*/
  width: 55%;
  height: auto;
  margin-left: 10px;
  border-radius: var(--radius);
  float: right;
  border: 2px solid #afa8a8;
}

table { /*Estilo de las tablas*/
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  border: 2px solid #555555;
  border-radius: var(--radius);
  overflow: hidden;
  color: var(--texto);
}

th,
td { /*Estilo de las celdas de las tablas, las rayitas :)*/
  padding: 6px;
  text-align: left;
  border-left: #555555 1px solid;
  border-bottom: 1px solid #555555;
}

tr:nth-child(odd) td { /*Color de filas impares*/
  background-color: #cbcad3;
}

tr:nth-child(even) td { /*las pares pares*/
  background-color: #eef1f1;
}

th { /*Estilo de los encabezados de las tablas*/
  background-color: #f9fafa;
  padding: 10px;
}
h3 {
  margin-top: 24px;
  font-size: larger;
}
p {
  margin-top: 12px;
  line-height: 1.6;
  text-align: justify;
}
fieldset {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 25px;
        }

        legend h2 {
            font-size: 20px;
        }



        input[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
        }

@media (max-width: 768px) {
  .fondo .interior {
    padding: 56px 24px;
  }
}